extends base.pug

block content
    div.container
        h3 Contact Us
        form(action="/contact",class='Form', method="post") 
            p Name 
            input(type="text",class='Input', name='name')
            p Age 
            input(type="text",class='Input', name='age')
            p Email 
            input(type="email",class='Input', name='mail')
            button(type='submit',class='btn' ) Submit