extends base.pug

block content


    section#intro
        div Welcome to Valorant
        div.small
         |dbv

    section#sponser
        h3 Our sponsers
    section#Mission
        h3 Our Mission
