nav{
    background-color: chartreuse;
    height: 40px;
    border: 2px solid black;
}

ul{
    /* background-color: blue; */
    margin:10px;
    
}

li {
    list-style-type: none;
    display: inline;
    padding: 5px 15px;
    font-weight: bold;
    /* background-color: aqua; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.container {
    display: block;
    margin: auto;
    background-color: aqua;
    width: 70%;
    /* text-align: center; */
    height: 70vh;
    border: 3px dashed rgb(60, 60, 60);

    border-radius: 15px;
    overflow-y: auto;

}

.mess {
    border: 3px solid rgb(94, 50, 50);
    max-width: 45%;
    min-width: 30%;
    margin: 10px 8px;
    font-size: 18px;
    font-weight:500;
    padding-left: 10px;
    background-color: grey;
    min-height: 25px;
    max-height: auto;
    font-family: 'Arial Narrow Bold', sans-serif;
    padding-top: 4px;
}

#link{
    visibility:hidden;
}

.left {
    float: left;
    border-radius: 10px 10px 10px 0;
    clear: both;
}

.right {
    float: right;
    border-radius: 10px 10px 0 10px;
    clear: both;
}

.mid {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.send {
    margin: auto;
    display: block;
    width: 50%;
    text-align: center;
    margin-top: 20px;

}

#messInp {
    border: 2px solid black;
    border-radius: 15px;
    width: 80%;
    height: 30px;
    font-size: 17px;
    font-weight:500;
    padding-left: 10px;
    font-family: cursive;
    padding-bottom: 5px;


}
#btn{
    height: 30px;
    width: 65px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border: none;
}
#btn:hover{
    cursor:pointer;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(79, 232, 125);
}